<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>


<ul>
{% for message in get_flashed_messages()%}
    <li>{{message}}</li>
{% endfor %}
</ul>


    


{% if "email" in session %}
    <p>{{session['email']}}</p> <!-- if user is in the session(logged in): -->
    <button type="button"><a href='/logout'>Log Out</a></button>
{% else %} <!-- if no user in the session -->
   <button type="button"><a href='/login'>Login</a></button>
{% endif %}

  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>